doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{projectName}
    body 
        header.barra
            h1 POC Juan Tello 
            a(href="#") Cerrar sesíon

        main.contenedor
            aside.contenedor-proyectos 
                .panel.crear-proyecto 
                    a(href="/rooms" class="boton") TEST!!
                        span +
                .panel.lista-proyectos
                    h2 Proyectos 
                    ul#proyectos.proyectos
                        li 
                            a(href="#") Diseño 1
                        li 
                            a(href="#") Diseño 2tr
                        li 
                            a(href="#") Diseño 3

            block content